.container {
  margin: 100px 300px 0px 300px;
}

.header {
  text-align: center;
}

.city-input {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.weather-container {

  @media(min-width: 900px) {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

.forecast-card {
  margin-bottom: 20px;
}

.forecast-table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid black;
}

.forecast-table th {
  border: 1px solid black;
  padding: 8px;
}

.forecast-table th.orange {
  background-color: orange;
  color: black;
}